<article class="row m-0 height100 w-100 position-absolute position-left position-top z1">
    <ul class="cb-slideshow list-unstyled">
        <li><span style="background-image: url(./../assets/curriculum/1.png);">Image 01</span></li>
        <li><span style="background-image: url(./../assets/curriculum/2.png);animation-delay: 5s; ">Image 02</span></li>
        <li><span style="background-image: url(./../assets/curriculum/3.png);animation-delay: 10s; ">Image 03</span></li>
        <li><span style="background-image: url(./../assets/curriculum/4.png);animation-delay: 15s; ">Image 04</span></li>
    </ul>
    <div class="height100 py-3 px-5 w-100 text-white d-flex justify-content-center align-items-center">
        <div class="text-center">
            <h1 class="m-0">Curriculum</h1>
            <nav class="row mt-2">
                <span class="col-6">
                    <a class="btn btn-white" target="_blank" href="https://www.matidiaz.com.ar/curriculum/cv-matidiaz.pdf">Descargar</a>
                </span>
                <span class="col-6">
                    <a class="btn btn-outline-white" target="_blank" href="https://www.matidiaz.com.ar/curriculum/cv-matidiaz.txt">Versión .txt</a>
                </span>
            </nav>
        </div>
    </div>
</article>