<article class="row m-0 height100 d-flex align-items-center w-100 position-absolute position-left position-top z1">
  <div class="col-6 p-0 height100 d-flex align-items-end justify-content-end">
    <img
      ImagePreload
      src="assets/home/main-bg.png"
      default="assets/fallback.jpg"
      style="opacity: 0"
      id="main-bg"
    />
  </div>
  <div class="col-6 p-0">
    <h1 class="text-white mb-3">
      <span class="d-block">Frontend </span>
      <span class="d-block">Developer </span>
      <span class="d-block">SSR</span>
    </h1>
    <div class="d-flex flex-row align-items-center" id="frontend-icons">
      <div class="mr-3" [inlineSVG]="'/assets/icons/html5_dark.svg'"></div>
      <div class="mr-3" [inlineSVG]="'/assets/icons/js.svg'"></div>
      <div class="mr-3" [inlineSVG]="'/assets/icons/css3_dark.svg'"></div>
    </div>
  </div>
</article>