<article class="row m-0 height100 w-100 position-absolute position-left position-top z1 text-white">
  <div class="col-6 height100 m-0">
    <div class="m-0 py-4 pl-5 pr-3">
      <h2 class="mb-2">Sobre mi</h2>
      <p class="p-0">Soy un joven apasionado por el marketing digital. Desde chico fui aprendiendo a utilizar las diferentes herramientas para esta área y aunque tengo conocimientos en varias áreas me dedico principalmente al desarrollo de front-end.</p>
      <h2 class="my-2">Mi historia</h2>
      <p class="pt-0">Empecé desde muy chico a interesarme en el mundo del marketing digital, en la época en que estaba de moda usar el Microsoft FrontPage para editar código, se armaban los sitios con el CMS Joomla, la mayoría de los sitios web estaban hechos con Adobe Flash y se usaba el Corel Draw para editar archivos de diseño. Esto fue gracias a que mi papa tiene una pequeña empresa dedicada al marketing digital llamada Contactar, y al verlo todos los días trabajando con diseños y verlo escribir códigos me inspiró a interesarme en lo que hacia, tengo el recuerdo de la primera vez que abrí uno de estos programas aproximadamente a los 8 años, se llamaba SwishMax y era una especie de herramienta de Adobe Flash para crear animaciones, me quede un dia jugando con este programa y pude crear un banner y mi papá estaba muy contento y sorprendido.</p>
      <p class="p-0">Luego comencé a explorar herramientas con mi mejor amigo y ahora socio Gabriel Debiassi, y juntos aprendimos a usar el CMS Joomla, todavía tengo guardado el primer sitio que hicimos, siempre nos encanto el marketing digital, y fue por eso que pasamos días, semanas y meses mirando videos tutoriales en internet y así fuimos aprendiendo desde hace más de 7 años juntos hasta que conseguimos nuestro primer empleo como desarrolladores front-end al terminar la escuela secundaria, fue cuando descubrimos como era implementar todos nuestros conocimientos en una empresa, en proyectos y en equipo, también cuando nos decidimos que era el área que más nos gustaba y nos sentíamos cómodos y es así que el dia de hoy que somos desarrolladores front-end ssr y obviamente planeamos avanzar más, hasta convertirnos en desarrolladores sr.</p>
      <h2 class="my-2">Actualidad</h2>
      <p class="p-0">En el año 2010 decidimos con Gabriel Debiassi armar un pequeño proyecto para organizar nuestros trabajos como freelancers, y fue cuando empezamos a desarrollar nuestro espacio de trabajos en conjunto al que nombramos King Design, fuimos desarrollando desde el comienzo nuestros sistemas para que no nos robe mucho tiempo de nuestros trabajos personales, hasta el día de hoy que estamos por terminar de desarrollar nuestro propio CMS con diferentes plantillas, para que cuando tengamos algún cliente sea algo tan simple como instalar nuestro sistema y adaptar las plantillas a un nuevo diseño.</p>
    </div>
  </div>
  <div class="col-6 p-0 bg-light height100 position-fixed position-right">
    <button (click)="playPause()" class="height100 w-100 bg-transparent border-0 position-absolute position-right z2 d-flex align-items-center justify-content-center">
      <span class="icon icon-lg p-0">
        <span class="bg-primary text-white rounded-circle d-flex justify-content-center align-items-center">
          <i class="material-icons">play_arrow</i>
        </span>
      </span>
    </button>
    <video width="100%" height="100%" id="video">
      <source src="assets/sobre_mi/video.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</article>